*.o
*.bin
*.lst
*.elf
*.map
*.log
**/.log
**/release/**
**/debug/**
**/.history/**
**/.indexes/**
**/buildstate/**
**/*.pdom
**/*.tree
**/.refactorings/**
**/*.snap
.metadata/.plugins/org.eclipse.team.cvs.core/.running
*.xmi
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
