<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.keil.uv4.axflauncher">
<stringAttribute key="bad_container_name" value="TD120"/>
<stringAttribute key="com.keil.uv4.core.ATTR_AXF_PROGRAM" value="Debug/TD1208.elf"/>
<stringAttribute key="com.keil.uv4.core.ATTR_DB_INCLUDE_PATH" value="EnergyMicro\EFM32G\"/>
<intAttribute key="com.keil.uv4.core.ATTR_UV4_PORT" value="5101"/>
<stringAttribute key="com.keil.uv4.core.ATTR_UVPROJ_FILE" value="uVision TD1208.uvpdbg"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="/TD1208"/>
<booleanAttribute key="org.eclipse.debug.core.capture_output" value="false"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_OUTPUT_ON" value="false"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="com.keil.uv4.launchGroup.FlashDownload"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
</launchConfiguration>
